<div>
    <form [formGroup]="registration_form" (ngSubmit)="onSubmit()">
      <div>
        <label for="name">Name:</label>
        <input type="text" id="name" formControlName="name" />
      </div>
      <div>
        <label for="email">Email:</label>
        <input type="email" id="email" formControlName="email" />
      </div>
      <div>
        <label for="password">password</label>
        <input type="password" id="password" formControlName="password" />
      </div>
      <div>
        <button type="submit" [disabled]="registration_form.invalid">Save</button>
      </div>
    </form>
  </div>
  